  html, body{
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .Header {
    height: 100px;
    border-style: solid;
    border-width: .5px;
    background-color: white;
    border-color: grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
  }

   .left-section {
     background-color: white;
     width: 200px;
     margin-left: 10px;
     display: felx;

    }

    .COg-Logo {
     width: 100px;
    }

    .center-section {
     background-color: white;
     flex: 1;
     display: flex;
     justify-content: end;

    }

    .create-button {
     position: relative;
     background-color:white;
     color: rgba(0, 0, 0, 0.50);
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     border: none;
     height: 36px;
     width: 100px;
     border-radius: 5px;
     padding: 0 10px;
     margin: 0 30px;
     cursor: pointer;

    }

    .create-button::after {
     content: '';
     position: absolute;
     width:110px;
     height: 0.175rem;
     left:0;
     bottom: 0;
     background: red;
     transform: scale(0, 1);

    }

   .create-button:hover {
      color: rgba(0, 0, 0, 0.97);
     font-size: 22px;
     font-weight: bold;
    
   }
   .create-button:hover::after {
     transform: scale(1, 1);
     transition: transform 0.5s ease;

   }

    .create-button:active {
     background-color: none;
     font-size: 15px;
    }


    .volunteer-button {
     position: relative;
     background-color: white;
     color: rgba(0, 0, 0, 0.50);
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     border: none;
     height: 36px;
     width: 155px;
     border-radius: 5px;
     padding: 0 10px;
     margin: 0 30px;
     cursor: pointer;

    }

    .volunteer-button::after {
     content: '';
     position: absolute;
     width:100%;
     height: 0.175rem;
     left:0;
     bottom: 0;
     background: #45bc7a;
     transform: scale(0, 1);

    }

    .volunteer-button:hover {
     color: rgba(0, 0, 0, 0.97);
     font-size: 22px;
     font-weight: bold;
    
    }

    .volunteer-button:hover::after {
      transform: scale(1, 1);
      transition: transform 0.5s ease;
    }

    .volunteer-button:active {
     background-color: none;
     font-size: 15px;
    }


    .donate-button {
     position: relative;
     background-color: white;
     color: rgba(0, 0, 0, 0.50);
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     border: none;
     height: 36px;
     width: 110px;
     border-radius: 5px;
     padding: 0 10px;
     margin: 0 30px;
     cursor: pointer;
    }

    .donate-button::after {
     content:'';
     position: absolute;
     width:100%;
     height: 0.175rem;
     left:0;
     bottom: 0;
     background: #29abe2;
     transform: scale(0, 1);

    }

    .donate-button:hover {
     color: rgba(0, 0, 0, 0.97);
     font-size: 22px;
     font-weight: bold;
    
    }

    .donate-button:hover::after {
     transform: scale(1, 1);
     transition: transform 0.5s ease;
   }

    .donate-button:active {
     background-color: none;
     font-size: 15px;
   }

    .right-section {
     background-color: white;
     width: 75px;
     display: flex;
     justify-content: center;

    }

    .Taco-Menu {
     position: relative;
     width: 25px;
     height:25px;
     overflow: hidden;
     cursor: pointer;
    }
    
    .Taco-Menu img {
      position: absolute;
      width: 25px;
      height: 25px;
      object-fit: cover;
      transition: opacity 0.5s ease-in-out;
    }

    .Taco-Menu img.transition {
     opacity: 1;
     z-index: 2;
    }

    .Taco-Menu:hover img.transition {
      opacity: 0;
    }

    .slide{
      height: 100%;
      width: 180px;
      position: absolute;
      background-color: #fff;
      transition: 0.5s ease;
    }
    input[type="checkbox"] {
      display: none;
    }


    .toggle {
      position: absolute;
      height: 30px;
      width: 30px;
      top: 20px;
      right: 20px;
      z-index: 1;
      cursor: pointer;
      border-radius: 2px;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
    }
    .toggle .common{
      position: absolute;
      height: 2px;
      width: 20px;
      background-color: red;
      border-radius: 50px;
      transition: 0.3s ease;

    }
    .toggle .top_line {
      top: 30%;
      left: 50%;
      transform: translate(-50%,-50%)
    }
    .toggle .mid_line {
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%)
    }
    .toggle .bot_line {
      top: 70%;
      left: 50%;
      transform: translate(-50%,-50%)
    }
    input:checked ~ .toggle .top_line {
      left: 2px;
      top: 14px;
      width: 25px;
      transform: rotate(45deg) translate(2px, 1px);
    }

    input:checked ~ .toggle .bot_line {
      left: 2px;
      top: 14px;
      width: 25px;
      transform: rotate(-45deg) translate(2px, -1px);
    }
    input:checked ~ .toggle .mid_line {
      opacity: 0;
    }

    .sidebar{
      position:fixed;
      top: 35;
      right: 0;
      height: 100vh;
      width: 200px;
      z-index: 999;
      background-color: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(10px);
      box-shadow: -10px 0 10px rgba(0, 0, 0, 0.50);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      transition: .3s ease;
      transform: translatex(250px);
  
    }

      input:checked ~ .sidebar{
      transform: translatex(0px);
      opacity: 1;
      }

    .sidebar li{
      height: 50px;
      list-style: none;
      padding-top: 30px;
    }

    .sidebar a{
     position: relative;
     background-color: none;
     color: rgba(0, 0, 0, 0.50);
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     border: none;
     height: 36px;
     width: 110px;
     border-radius: 5px;
     padding: 0 10px;
     margin: 0 30px;
     cursor: pointer;
     text-decoration: none;
     align-items: center;
     align-content: center;
     justify-content: center;
    }

    .sidebar a::after {
     content:'';
     position: absolute;
     width:100%;
     height: 0.175rem;
     left:0;
     bottom: 0;
     background: #fff568;
     transform: scale(0, 1);

    }

    .sidebar a:hover {
     color: rgba(0, 0, 0, 0.97);
     font-size: 22px;
     font-weight: bold;
    
    }

    .sidebar a:hover::after {
     transform: scale(1, 1);
     transition: transform 0.5s ease;
   }

    .sidebar a:active {
     background-color: none;
     font-size: 15px;
   }


    /* text*/

    h1 {
      display: flex;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 50px;
      color:  rgba(0, 0, 0, 0.50);

    }
    h2 {
      display: flex;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 50px;
      color: whitesmoke;
    }

    P1 {
      display: flex;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
      color:  rgba(0, 0, 0, 0.50);
    }

    P2 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      color:  rgba(0, 0, 0, 0.50);
    }

    p3{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      text-align: justify;
      color:  rgba(0, 0, 0, 0.50);
    }

    /* Start of the Body*/

    body {
      display: flex;
      flex-direction: column;
      gap: 5px;
      flex-wrap: nowrap;
      min-height: 100vh;
      margin: 0;
      justify-content: flex-start;
      background-color: whitesmoke;
    
    }
    .main-content {
      flex: 1;
    }

    .attTaleLogo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 20px 0;
    }

    .aTTLogo {
      width: 800px;
      max-width: 90%;
      height: auto;
      display: block;
    }

/* start of storyMap*/
    .storymap-section {
      width: 100%;
      background-color: whitesmoke;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 40px 0;
      border:#29abe2;
    }

    .storymap-section h1 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40px;
      color: rgba(0, 0, 0, 0.7);
      margin-bottom: 20px;
      text-align: center;
    }

    .storymap-container {
      width: 90vw;
      max-width: 1800px; /* Optional: limits on huge monitors */
      height: 85vh; /* Takes up most of the screen height */
      display: flex;
      justify-content: center;
      
    }

    .storymap-container iframe {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }

/* Start of Support Section*/
    .supportSection {
      flex-direction: row;
      justify-content: flex-start;
      width: 100vw;

    }

    .Donate-Section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: justify;
      width: 100%;
      height: 500px;
      padding: 40px 20px;
      background-color: #29abe2;
      color: whitesmoke;
      border-top:2px solid black;
      border-bottom: 2px solid black;
    
    }
    .donate-content{
      display:flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 30px;
      margin-top: 30px;
      padding-right: 50px;
      text-align: justify;

    }
    .donate-content p{
      flex: 1 1 40%;
      max-width: 100px;
      padding: 20px;
      order: 2;
      text-align: left;
  
    }

    .attDonate-Button {
      flex: 0 1 400px;
      order: 1;
      background-color: red;
      color: whitesmoke;
      height: 100px;
      max-width: 400px;
      border: solid whitesmoke;
      border-radius: 50px;
      font-size: 20px;
      cursor: pointer;
      margin-top: 30px;
      transition: all 0.3s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
    }

    .attDonate-Button:hover {
      background-color: whitesmoke;
      color: #29abe2;;
      border: solid black;
    }
    .attDonate-Button:active {
      background-color: #45bc7a;
      color: whitesmoke;
      transform: scale(0.90);
    }

    @media (max-width: 900px) {
  .donate-content {
    flex-direction: column;
  }
  .donate-content p, .attDonate-Button {
    max-width: 100%;
  }
  }
  /* Start of Meet the Team Section*/
    .meetTeamSection{
      display:flex;
      flex-direction: column;
      gap: 50px;
      margin-top: 30px;
      flex-wrap: wrap;
      justify-content: center; 
      align-items: center;
    }

    .teamLogosSection{
      display: flex;
      flex-direction: row;
    }
 /* Start of Ferg Section*/
    .drFergSection{
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      text-align: justify;
      padding: 50px;
      padding-left: 20px;
    }
    .DrFergImageframe{
      width: 300px;
      height: 300px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid black;
    }
    .DrFergImage{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .DrFergText {
      max-width: 400px;
      line-height: 1.5;
    }
  /* Start of Cut the Mustard Section*/

    .cutTheMustardSection{
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      text-align: justify;
      padding: 50px;
    }
    .cutTheMustardImageFrame{
      width: 300px;
      height: 300px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid black;
      background-color: white;
    }
    .cutTheMustardImage{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .cutTheMustardText {
      max-width: 400px;
      line-height: 1.5;
    }
  /* Start of Lucky Half Speed Section*/

    .luckyHalfSpeedSection{
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      text-align: justify;
      padding: 50px;
      padding-right:20px;
    
    }
    .luckyhalfSpeedImageFrame{
      width: 300px;
      height: 300px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid black;
      background-color: red;
    }
    .luckyHalfSpeedImaget{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .luckyHalfSpeedText {
      max-width: 400px;
      line-height: 1.5;
    }

  /* Start of Merch Section*/

    .Merch{
      display:flex;
      flex-direction: row;
      gap: 50px;
      margin-top: 30px;
      flex-wrap: wrap;
    }
    .merchInfo {
      display: flex;
      flex-direction: column;
      gap: 20px;               /* spacing between text and small logo */
      max-width: 40%;
      margin-left: 80px;
    }
    .merchTextSection{
      display:flex;
      flex-direction: column;
      padding:20px;
      box-sizing: border-box;
      
    }
    .LilgImage{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .Lilg{
      width: 200px;
      max-width: 200px;
      height: auto;
      display: block;
      justify-content: center;
    }
    /* RightColumn:Products */

    .productSection {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      flex: 1 1 50%;
      
    }
    
    .shirtMerch {
      width: 400px;
      height: 400px;
      flex: 0 1 400px;
      max-width: 400px;
      min-width: 200px;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
    }

     .beanieMerch {
      width: 400px;
      height: 400px;
      flex: 0 1 400px;
      max-width: 400px;
      min-width: 200px;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
    }

     .soapMerch {
      width: 400px;
      height: 400px;
      flex: 0 1 400px;
      max-width: 400px;
      min-width: 200px;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
    }
  /* Responsive: stack products and left column on narrow screens */
  @media (max-width: 900px) {
   .Merch {
     flex-direction: column;     /* stack left and right columns */
     align-items: center;
   }

    .merchInfo, .productSection {
     max-width: 100%;
   }

    .productSection {
     flex-direction: column;     /* products stack vertically */
     align-items: center;
   }
  }


/* Start of Footer*/

    .footer-container {
      width: 100%;
      top: auto;
      background-color: black;
      padding: 0.5rem 0 1rem 0;
      flex-shrink: 0;
      margin-top: auto;
 
    }

    .footer {
      width: 100%;
      background-color: black;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 auto;

    }

    .footer-title {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
      color: whitesmoke;
      margin-bottom: 1rem;
      
    }

    .footer-heading {
      display: flex;
      flex-direction: column;
      margin-right: 4rem;
      margin-bottom: 4rem;

    }

    .footer-heading p1 {
      margin-bottom: 2rem;
      padding-bottom: 2rem;
    }

    .footer-heading a {
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
      margin-bottom: 0.5rem;
      align-items: center;
      align-content: center;
    }

    .footer-heading a:hover {
      color: red;
      transition: 0.3s ease-out;

    }

    .footer-email-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 15px;
      padding: 40px;
     
    }

    .footer-email-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

    }

    #footer-email{
      width: 250px;
      height: 50px;
      border-radius: 100px;
      outline: none;
      border: none;
      padding-left: 0.5rem;
      font-size: 0.6rem;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;

    }

    #footer-email::placeholder {
      color: red;
      font-family: Arial, Helvetica, sans-serif;
    }

    #footer-email-btn {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: red;
      outline: none;
      border: none;
      color: whitesmoke;
      font-size: 0.6rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    #footer-email-btn:hover {
      cursor: pointer;
      background-color: #29abe2;
      transition: all 0.4s ease-out;
    }

    #footer-email-btn:active {
      transform:scale(-1.02);
      background-color: #45bc7a;
    }
